<div style="
    background-color: #f6f6f6;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
  ">
    <table border="0" cellpadding="0" cellspacing="0" style="
      background-color: #eee;
      margin: auto;
      border-collapse: separate;
      width: 100%;
    ">
        <tbody>
            <tr>
                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top">
                    &nbsp;
                </td>
                <td style="
            font-family: sans-serif;
            font-size: 14px;
            display: block;
            max-width: 580px;
            padding: 10px;
            width: 580px;
            margin: 0 auto !important;
          ">
                    <div style="
              box-sizing: border-box;
              display: block;
              margin: 0 auto;
              max-width: 580px;
              padding: 10px;
            ">
                        <table style="
                border-collapse: separate;
                background: #fff;
                border-radius: 3px;
                width: 100%;
              ">
                            <tbody>
                                <tr>
                                    <td style="
                      font-family: sans-serif;
                      font-size: 14px;
                      vertical-align: top;
                      box-sizing: border-box;
                      padding: 20px;
                    ">
                                        <table border="0" cellpadding="0" cellspacing="0"
                                            style="border-collapse: separate; width: 100%">
                                            <tbody>
                                                <tr>
                                                    <td style="
                              font-family: sans-serif;
                              font-size: 14px;
                              vertical-align: top;
                            ">
                                                        <div
                                                            style="width: 100%; text-align: center; display: flex; justify-content:center">
                                                            <img style="text-align: center"
                                                                src="../storage/imgs/unknown.png" alt="" height="180"
                                                                class="CToWUd a6T" tabindex="0" />
                                                            <div class="a6S" dir="ltr" style="
                                  opacity: 0.01;
                                  left: 747.549px;
                                  top: 166.778px;
                                ">
                                                                <div id=":376" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                    title="Download" role="button" tabindex="0"
                                                                    aria-label="Download attachment "
                                                                    data-tooltip-class="a1V">
                                                                    <div class="akn">
                                                                        <div class="aSK J-J5-Ji aYr"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="width: 100%; text-align: center">

                                                        </div>
                                                        <div style="margin-top:30px"><strong>Subject:</strong>
                                                            Registration Confirmation for The
                                                            Fragrance Foundation’s DEI
                                                            #FragranceForwardTFF: Moving Forward, Together Webinar</div>
                                                        <p>Dear {{firstName}},</p>
                                                        <p>
                                                            <span style="font-weight: 400">Thank you for registering for
                                                                the The Fragrance
                                                                Foundation’s Diversity, Equity<br><br>

                                                                <strong>&amp; Inclusion #FragranceForwardTFF: Moving
                                                                    Forward, Together
                                                                    Webinar!</strong></span>
                                                        </p>
                                                        <p>&nbsp;</p>
                                                        <p>
                                                            <span style="font-weight: 400">Mark your calendar by
                                                                clicking the link below so you
                                                                don&#39;t miss the event.
                                                            </span>
                                                        </p>
                                                        <p>&nbsp;</p>
                                                        <p>
                                                            <b>#FragranceForwardTFF: Moving Forward, Together
                                                                Webinar!</b>
                                                        </p>
                                                        <p><b>Date: Thursday, October 20</b></p>
                                                        <p><b>Time: 12:00 PM - 1:00 PM ET</b></p>

                                                        <br><br>
                                                        <p>
                                                            <span style="font-weight: 400">Click on the calendar link
                                                                below to add the
                                                                event to your calendar:</span>
                                                        </p>

                                                        <p><br>( Calendar invite Subject:in invite :The Fragrance
                                                            Foundation’s DEI<br>
                                                            #FragranceForwardTFF: Moving Forward, Together Webinar</p>



                                                        <p>
                                                            <a href="#" target="_blank"><span
                                                                    style="font-weight: 400">Google Calendar</span></a>
                                                        </p>
                                                        <p>
                                                            <a href="#" target="_blank"><span
                                                                    style="font-weight: 400">Outlook Calendar</span></a>
                                                        </p>
                                                        <p>
                                                            <a href="#" target="_blank"><span
                                                                    style="font-weight: 400">Apple Calendar</span></a>
                                                        </p>
                                                        <p>&nbsp;</p>

                                                        <p>
                                                            <a href="#" target="_blank">Click Here To View Event Webcast
                                                                (Link)</a>
                                                        </p>
                                                        <p>

                                                        <p><span style="font-weight: 400">&nbsp;</span></p>
                                                        <p>Follow TFF on <a href="#" target="_blank">Instagram</a><br>
                                                            We look forward to seeing you there!</p>
                                                        <p>
                                                            <span style="font-weight: 400">For any technical support
                                                                questions, ema</span><span style="font-weight: 400">il
                                                                <a href="mailto:info@tffdei.org"
                                                                    target="_blank">info@tffdei.org</a></span>
                                                        </p>
                                                        <p>
                                                            <span style="font-weight: 400">or call 212-629-0622.</span>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div style="
                clear: both;
                padding-top: 10px;
                text-align: center;
                width: 100%;
              ">
                            <table border="0" cellpadding="0" cellspacing="0"
                                style="border-collapse: separate; width: 100%">
                                <tbody>
                                    <tr>
                                        <td style="
                        font-family: sans-serif;
                        font-size: 14px;
                        vertical-align: top;
                        color: #999999;
                        font-size: 12px;
                        text-align: center;
                      ">
                                            <span class="m_6079988073592711674apple-link" style="
                          color: #999999;
                          font-size: 12px;
                          text-align: center;
                        "><a href="https://www.tffnotables.org" style="font-size: 12px; text-align: center"
                                                    target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://www.tffnotables.org&amp;source=gmail&amp;ust=1645730711146000&amp;usg=AOvVaw1fOhxWkqf5fODLX8OLy_de"></a></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
                <td style="font-family: sans-serif; font-size: 14px; vertical-align: top">
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL"></div>
</div>